@charset "UTF-8";
/*Cores e gradientes*/
/*Font Family*/
* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

img {
  display: block;
}

.arredondado {
  border-radius: 57px;
  width: 374px;
  height: 374px;
}

.arredondado--logo {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1D737E), color-stop(#2799a7), to(#2bacbc));
  background-image: linear-gradient(#1D737E, #2799a7, #2bacbc);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: relative;
  bottom: 180px;
  right: 60px;
}

@media screen and (min-width: 350px) and (max-width: 700px) {
  .arredondado--logo {
    width: 320px;
    height: 320px;
  }
}

.btn {
  border-radius: 30px;
  border: 0;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  cursor: pointer;
}

.btn--padrao {
  background-color: #C2FF01;
  padding: 20px 80px;
}

.btn--padrao:hover {
  background-color: #ceff34;
}

.btn--padrao:active {
  background-color: #9ccd00;
}

@media screen and (min-width: 350px) and (max-width: 700px) {
  .din-na-mao, .superacao__intercede {
    display: none;
  }
  .btn {
    margin-bottom: 1rem;
  }
}

/*Header*/
header {
  background-image: -webkit-gradient(linear, left bottom, right top, color-stop(65%, white), color-stop(115%, #1D737E));
  background-image: linear-gradient(to right top, white 65%, #1D737E 115%);
  display: -ms-grid;
  display: grid;
      grid-template-areas: "logo intro intro  intro intro infos"
 ".... intro intro  intro intro  ....."
 ".... intro intro  intro intro  .....";
}

@media screen and (min-width: 350px) and (max-width: 700px) {
  header {
        grid-template-areas: "logo ..."
 "infos ..."
 "intro intro"
 "intro intro";
  }
  .header__logo {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: logo;
  }
  .header__infos {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: infos;
    display: block;
    margin: 0 auto;
    position: relative;
    bottom: 4rem;
    left: 2rem;
  }
  .intro {
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: intro;
  }
}

.header__logo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: logo;
}

.header__logo h1 span {
  display: none;
}

@media screen and (min-width: 350px) and (max-width: 700px) {
  .header__logo img {
    width: 25%;
    position: absolute;
    left: 3.5rem;
  }
}

.header__infos {
  margin-top: 1.5rem;
  -ms-grid-row: 1;
  -ms-grid-column: 6;
  grid-area: infos;
}

.header__infos button {
  position: relative;
  right: 4rem;
}

.header__infos img {
  position: relative;
  bottom: 2rem;
  left: 9rem;
  width: 30px;
}

@media screen and (min-width: 350px) and (max-width: 700px) {
  .header__infos > img {
    display: none;
  }
}

.header__img {
  position: absolute;
  top: 1rem;
  left: 5rem;
}

.header__btn {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1D737E), color-stop(#2799a7), to(#2bacbc));
  background-image: linear-gradient(#1D737E, #2799a7, #2bacbc);
  padding: 15px 20px;
  color: #C2FF01;
  font-weight: 700;
  display: inline-block;
  position: relative;
  right: 3.5rem;
  font-size: 0.94rem;
  text-decoration: none;
}

.header__btn:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1D737E), color-stop(#2bacbc), to(#46c4d4));
  background-image: linear-gradient(#1D737E, #2bacbc, #46c4d4);
  color: #daff67;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header__btn:active {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1D737E), color-stop(#1c6f7a), to(#1b6b76));
  background-image: linear-gradient(#1D737E, #1c6f7a, #1b6b76);
}

/*Parte Principal da página introdutória*/
.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  position: relative;
  top: 150px;
  min-height: 100vh;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-area: intro;
}

.intro__apresentacao {
  z-index: 1;
}

.intro__apresentacao__texto {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 1.87rem;
  margin-right: 30%;
}

.intro__apresentacao__pequeno-texto {
  font-family: "Fira Sans", sans-serif;
  font-size: 0.9rem;
  margin: 2rem 0;
  width: 50%;
}

.intro__destaque {
  display: inline-block;
  background-color: #000;
  padding: 2px;
  border-radius: 10px;
  text-align: center;
  color: #C2FF01;
}

.intro__arredondado--branco {
  background-color: white;
  z-index: 1;
  bottom: 62rem;
  right: 2rem;
}

.intro__arredondado--gradiente {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1D737E), color-stop(#31bed0), to(#46c4d4));
  background-image: linear-gradient(#1D737E, #31bed0, #46c4d4);
  z-index: 2;
  bottom: 38.5rem;
}

.intro__arredondado--foto {
  background-image: url(../img/image_26.jpg);
  z-index: 3;
  bottom: 16rem;
  left: 3rem;
}

.intro__arredondado--borda {
  border: 1px solid #C2FF01;
  z-index: 4;
  top: 8rem;
  left: 6rem;
}

.intro__arredondados {
  position: relative;
  height: 100vh;
  bottom: 3rem;
  left: 4rem;
}

.intro__arredondados > div {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: relative;
}

@media screen and (min-width: 350px) and (max-width: 700px) {
  .intro {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .intro__apresentacao__texto {
    text-align: center;
    margin: 0 auto;
    width: 80%;
  }
  .intro__destaque {
    display: inline;
  }
  .intro__apresentacao__pequeno-texto {
    width: 80%;
    margin: 2rem auto;
  }
  .intro__arredondados {
    display: none;
  }
  .intro button {
    margin-bottom: 10rem;
  }
}

.sobre {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.sobre .arredondado--sobre {
  background-color: #C2FF01;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: relative;
}

.sobre .arredondado--sobre__grande {
  width: 315px;
  height: 315px;
  z-index: -1;
  bottom: 33rem;
  left: 4rem;
}

.sobre .arredondado--sobre__pequeno {
  border-radius: 30px;
  width: 130px;
  height: 130px;
  bottom: 68rem;
}

.sobre__img-arredondada {
  background-image: url(../img/image_38.jpg);
  width: 459px;
  height: 542px;
  border-radius: 20px;
  position: relative;
  z-index: 1;
  left: 12rem;
}

.sobre__quem-sou {
  width: 50%;
}

.sobre__quem-sou h2 {
  font-family: "Oswald", sans-serif;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
}

.sobre__quem-sou--subtitulo {
  display: inline-block;
  width: 60%;
  font-family: "Oswald", sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 3rem 0;
}

.sobre__quem-sou p {
  font-family: "Fira Sans", sans-serif;
  line-height: 2rem;
  letter-spacing: 1.3px;
  width: 75%;
}

.sobre__quem-sou p strong {
  display: block;
}

.sobre__social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
  left: 12rem;
  top: 2rem;
  max-width: 70%;
  margin: 0 auto;
}

.sobre__social-media a {
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1D737E), color-stop(#2799a7), to(#2bacbc));
  background-image: linear-gradient(#1D737E, #2799a7, #2bacbc);
  border-radius: 50%;
}

.sobre__social-media a:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1D737E), color-stop(#31bed0), to(#46c4d4));
  background-image: linear-gradient(#1D737E, #31bed0, #46c4d4);
}

.sobre__social-media a i {
  font-size: 1.5rem;
}

@media screen and (min-width: 350px) and (max-width: 700px) {
  .sobre {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sobre .arredondado--sobre {
    display: none;
  }
  .sobre__foto-smedia > div {
    position: relative;
    right: 10rem;
    display: block;
    z-index: none;
  }
  .sobre__img-arredondada {
    width: 320px;
    height: 378px;
    background-size: cover;
  }
  .sobre__social-media {
    display: none;
  }
  .sobre__quem-sou {
    width: 100%;
  }
  .sobre__quem-sou h2 {
    text-align: center;
  }
  .sobre__quem-sou--subtitulo {
    width: 90%;
    display: block;
    margin: 1rem auto;
  }
  .sobre__quem-sou p {
    width: 90%;
    margin: 1rem auto;
  }
}

.superacao {
  display: -ms-grid;
  display: grid;
  min-width: 100vw;
  min-height: 80vh;
}

.superacao__palestra {
  background-image: url(../img/img_22.jpg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-weight: 700;
}

.superacao__palestra__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.superacao__palestra__logo__img {
  max-height: 10%;
}

.superacao__palestra__logo__titulo {
  font-family: "Oswald", sans-serif;
  line-height: 2rem;
  font-size: 1.6rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  letter-spacing: 2px;
}

.superacao__palestra__texto {
  width: 40%;
  font-family: "Fira Sans", sans-serif;
  line-height: 1.5rem;
}

.superacao__palestra__texto--destaque {
  color: #C2FF01;
}

.superacao__exemplo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.superacao__exemplo__texto {
  font-family: "Fira Sans", sans-serif;
  line-height: 2rem;
  width: 40%;
}

.superacao__exemplo__texto p:first-of-type {
  margin-bottom: 25px;
}

.superacao__exemplo__slogan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.superacao__exemplo__slogan p {
  font-family: "Oswald", sans-serif;
  font-size: 2rem;
  font-weight: 700;
}

.superacao__exemplo__slogan p span {
  display: block;
}

@media screen and (min-width: 350px) and (max-width: 700px) {
  .superacao * {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .superacao__palestra img {
    width: 100px;
    margin: 1rem auto;
  }
  .superacao__palestra__texto {
    margin: 1rem 0;
    width: 80%;
  }
  .superacao__exemplo__texto {
    margin: 1rem 0;
    width: 80%;
  }
}

.rendimentos__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 70vh;
}

.rendimentos__main h2 {
  margin-top: 10vh;
  font-family: "Oswald", sans-serif;
  font-size: 1.8rem;
  text-transform: uppercase;
  line-height: 2.5rem;
  color: #fff;
  margin-bottom: 25px;
}

.rendimentos__main h2 span {
  display: block;
}

.rendimentos__explica {
  background-image: -webkit-gradient(linear, left top, right top, from(#1D737E), color-stop(#31bed0), to(#46c4d4));
  background-image: linear-gradient(to right, #1D737E, #31bed0, #46c4d4);
  width: 50vw;
  margin-left: 0;
  color: #fff;
}

.rendimentos__explica h2, .rendimentos__explica p {
  width: 50%;
  margin: 2rem auto;
}

.rendimentos__explica p {
  font-family: "Fira Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
}

.rendimentos__explica p span {
  font-weight: bold;
  color: #C2FF01;
}

.rendimentos__explica p:last-of-type {
  margin-top: 10px;
}

.rendimentos__timeline {
  background-color: #000;
  width: 50vw;
  display: -ms-grid;
  display: grid;
  position: relative;
  z-index: 1;
      grid-template-areas: ". . linha titulo titulo"
 ". . linha lista   lista"
 ".  . linha lista   lista"
 ". . linha .....    ....";
}

.rendimentos__timeline .linhadotempo {
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  -ms-grid-column: 3;
  grid-area: linha;
  height: 100%;
  width: 2px;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(10%, #C2FF01), to(#000));
  background-image: linear-gradient(to top, #C2FF01 10%, #000);
}

.rendimentos__timeline .linhadotempo .checkpoints {
  margin-top: 16rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: -8px;
}

.rendimentos__timeline .linhadotempo .checkpoints .checkpoint {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 3px solid #C2FF01;
  background-color: #000;
}

.rendimentos__timeline .linhadotempo .checkpoints .checkpoint:nth-child(1), .rendimentos__timeline .linhadotempo .checkpoints .checkpoint:nth-child(2), .rendimentos__timeline .linhadotempo .checkpoints .checkpoint:nth-child(3) {
  margin-bottom: 3rem;
}

.rendimentos__timeline h2 {
  margin-left: 6rem;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 4;
  grid-area: titulo;
}

.rendimentos__timeline__lista {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-area: lista;
  list-style-type: none;
}

.rendimentos__timeline__lista__item {
  width: 30vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 1.5rem;
  /*Checkpoint da linha do tempo, não funciona bem em resoluções
                 diferentes de 1920x1080*/
}

.rendimentos__timeline__lista__item h3 {
  font-family: "Oswald", sans-serif;
  color: #C2FF01;
  font-size: 1.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.rendimentos__timeline__lista__item h3 .bolinhas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.rendimentos__timeline__lista__item h3 .bolinhas .bolinha {
  background-image: -webkit-gradient(linear, left top, right top, from(#C2FF01), color-stop(#daff67), to(#e1ff81));
  background-image: linear-gradient(to right, #C2FF01, #daff67, #e1ff81);
  padding: 1px;
  border-radius: 50%;
  height: 2px;
  width: 2px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 5px;
}

.rendimentos__timeline__lista__item h3 .bolinhas .bolinha_02 {
  opacity: 50%;
}

.rendimentos__timeline__lista__item h3 .bolinhas .bolinha_03 {
  opacity: 30%;
  margin-right: 1rem;
}

.rendimentos__timeline__lista__item h3::before {
  content: '';
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 3px solid #C2FF01;
  background-color: #000;
  position: relative;
  right: 11.9rem;
}

.rendimentos__timeline__lista__item div p {
  color: #fff;
  font-family: "Fira Sans", sans-serif;
  font-size: 1rem;
}

.rendimentos__timeline__lista__item div p span {
  color: #C2FF01;
  font-family: "Oswald", sans-serif;
  font-size: 1.1rem;
}

.rendimentos__moneysign {
  color: #fff;
  font-family: "Fira Sans", sans-serif;
  position: relative;
  top: 19rem;
}

.rendimentos__moneysign--frente {
  font-size: 3.15rem;
  color: #C2FF01;
  position: relative;
  bottom: 2rem;
  left: 1rem;
}

.rendimentos__moneysign--fundo {
  font-size: 6.25rem;
  font-weight: bold;
}

.rendimentos__moneysign--fundo--preto {
  position: relative;
  top: 3rem;
  z-index: -1;
  color: #000;
  text-shadow: rgba(194, 255, 1, 0.3) 2px -1px 0;
}

.rendimentos__footer {
  margin-top: 2rem;
  max-height: 35vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.rendimentos__footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.rendimentos__footer div h2 {
  margin-top: 10vh;
  font-family: "Oswald", sans-serif;
  font-size: 1.6rem;
  text-transform: uppercase;
  line-height: 2.5rem;
  margin-bottom: 25px;
}

.rendimentos__footer div h2 span {
  display: block;
}

.rendimentos__footer__texto {
  font-family: "Fira Sans", sans-serif;
  max-width: 40%;
  line-height: 2rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media screen and (min-width: 350px) and (max-width: 700px) {
  .rendimentos {
    display: none;
  }
}

.servicos__tipos-servicos__titulo {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.2rem;
}

.servicos__tipos-servicos__container {
  margin: 2rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 80%;
}

.servicos__tipos-servicos__container .servico h3 {
  font-family: "Fira Sans", sans-serif;
  text-align: center;
  width: 60%;
  margin: 0 auto;
}

.servicos__tipos-servicos__container .servico h3 span {
  font-weight: normal;
  color: #1D737E;
}

.servicos__tipos-servicos__container .servico img {
  margin: 0 auto;
}

.servicos__palestra {
  background-image: url(../img/img_22.jpg);
  min-height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.servicos__palestra__texto {
  width: 40%;
  color: #fff;
}

.servicos__palestra__texto h2 {
  font-family: "Oswald", sans-serif;
  line-height: 2rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.servicos__palestra__texto h2 span {
  display: block;
}

.servicos__palestra__texto--destaque {
  color: #C2FF01;
}

.servicos__palestra__texto p {
  margin-top: 1rem;
  width: 65%;
  font-family: "Fira Sans", sans-serif;
}

@media screen and (min-width: 350px) and (max-width: 700px) {
  .servicos__tipos-servicos__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1rem;
  }
  .servicos__palestra {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .servicos__palestra__texto {
    margin: 4rem 0;
    width: 90%;
  }
  .servicos__palestra__texto p {
    width: 90%;
    line-height: 2rem;
  }
  .servicos__palestra button {
    margin-bottom: 1rem;
  }
}

.inscricao {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "........... . titulo titulo titulo titulo . ."
 "arredondado . etps01 etps01 etps01 etps01 . ."
 "........... . etps02 etps02 etps02 etps02 . .";
}

.inscricao h2 {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  margin: 2rem 0;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 4;
  grid-area: titulo;
}

.inscricao .arredondado--inscricao {
  background-color: #C2FF01;
  border-radius: 20%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 130px;
  height: 130px;
  position: relative;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: arredondado;
}

.inscricao__etapas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 2rem auto;
  width: 80%;
}

.inscricao__etapas__etapa {
  width: 360px;
}

.inscricao__etapas__etapa div {
  font-family: "Oswald", sans-serif;
  font-weight: 900;
  font-size: 1.6rem;
  text-align: center;
  position: relative;
}

.inscricao__etapas__etapa div .arredondado--etapa {
  background-color: #C2FF01;
  position: absolute;
  margin: 0 auto;
  border-radius: 20%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  left: 43%;
  z-index: -2;
  width: 40px;
  height: 40px;
}

.inscricao__etapas__etapa p {
  font-family: "Fira Sans", sans-serif;
  max-width: 60%;
  text-align: center;
  margin: 1rem auto;
}

.inscricao__etapas .inscreva {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1D737E), color-stop(#31bed0), to(#46c4d4));
  background-image: linear-gradient(#1D737E, #31bed0, #46c4d4);
  z-index: 1;
  border-radius: 20px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.inscricao__etapas .inscreva .arredondados__container {
  left: 5rem;
  top: 1rem;
}

.inscricao__etapas .inscreva .arredondados__container .arredondado--inscreva {
  border-radius: 20%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border: 1px solid rgba(255, 255, 255, 0.4);
  width: 80px;
  height: 80px;
  position: absolute;
  z-index: -2;
}

.inscricao__etapas .inscreva .arredondados__container .arredondado--inscreva:nth-of-type(2) {
  left: 2rem;
}

.inscricao__etapas .inscreva .btn {
  font-size: 1rem;
  padding: 10px 40px;
  z-index: 2;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.inscricao__etapas:nth-of-type(2) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 4;
  grid-area: etps01;
}

.inscricao__etapas:nth-of-type(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 4;
  grid-area: etps02;
}

@media screen and (min-width: 350px) and (max-width: 700px) {
  .inscricao {
        grid-template-areas: "titulo titulo"
 "etps01 etps01"
 "etps01 etps01"
 "etps02 etps02"
 "etps02 etps02";
  }
  .inscricao .arredondado {
    display: none;
  }
  .inscricao__etapas {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .inscricao h2 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: titulo;
  }
  .inscricao__etapas:nth-of-type(2) {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: etps01;
  }
  .inscricao__etapas:nth-of-type(3) {
    -ms-grid-row: 4;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: etps02;
  }
  .inscricao .inscreva {
    width: 80%;
    margin: 0 auto;
    padding: 10px 0;
  }
}

.topicos {
  margin: 3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 140vh;
}

.topicos__preto {
  background-color: #000;
  padding-left: 10%;
}

.topicos__preto__lancamento {
  margin: 0;
  background-image: -webkit-gradient(linear, right top, left top, from(#171717), color-stop(80%, #000));
  background-image: linear-gradient(to left, #171717, #000 80%);
  z-index: 1;
}

.topicos__preto__lancamento .arredondados {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 2;
  right: 8rem;
}

.topicos__preto__lancamento .arredondados .arredondado {
  width: 250px;
  height: 250px;
  border: 1px solid rgba(29, 115, 126, 0.3);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  z-index: -1;
}

.topicos__preto__lancamento .arredondados .arredondado:nth-child(2) {
  left: -4rem;
  border: 1px solid rgba(29, 115, 126, 0.2);
}

.topicos__gradiente {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1D737E), color-stop(#2799a7), to(#2bacbc));
  background-image: linear-gradient(#1D737E, #2799a7, #2bacbc);
  padding-left: 5%;
}

.topicos .topico {
  color: #fff;
  width: 50vw;
  padding-bottom: 2.5rem;
}

.topicos .topico > *:not(button) {
  padding: 5px 20px;
}

.topicos .topico h2, .topicos .topico h3, .topicos .topico__subtitle {
  margin: 2rem auto;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}

.topicos .topico h3, .topicos .topico__subtitle {
  font-weight: 700;
  font-size: 1.2rem;
  color: #C2FF01;
  line-height: 2rem;
  letter-spacing: 3px;
}

.topicos .topico h3 span, .topicos .topico__subtitle span {
  display: block;
}

.topicos .topico p, .topicos .topico li {
  font-family: "Fira Sans", sans-serif;
}

.topicos .topico h2 {
  font-size: 1.6rem;
  margin: 4rem auto;
}

.topicos .topico p {
  width: 60%;
  margin: 0.8rem 0;
  line-height: 1.5rem;
}

.topicos__beneficios__item, .topicos__beneficios__destaque {
  margin: 1.5rem 0;
  font-size: 1.1rem;
  list-style-type: none;
}

.topicos__beneficios__item::before, .topicos__beneficios__destaque::before {
  content: ' ';
  padding: 1px 12px;
  position: relative;
  background-image: url(../img/checked.png);
  right: 1rem;
}

.topicos__beneficios__destaque {
  color: #C2FF01;
}

@media screen and (min-width: 350px) and (max-width: 700px) {
  .topicos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .topicos h2 {
    text-align: center;
  }
  .topicos .topico {
    width: 100vw;
    padding: 0;
  }
  .topicos .topico h3 {
    width: 80%;
  }
  .topicos .topico p {
    display: block;
    width: 90%;
    margin: 0 auto;
  }
  .topicos .topico p:last-child {
    padding-bottom: 1rem;
  }
  .topicos .topico__subtitle {
    display: block;
    text-align: center;
  }
}

.din-na-mao {
  position: relative;
  bottom: 5rem;
  left: 2rem;
}

.din-na-mao img {
  margin: 0 auto;
}

.investimento h2, .investimento__subtitle {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
}

.investimento h2 {
  font-size: 1.6rem;
  letter-spacing: 2px;
}

.investimento__subtitle {
  display: block;
  margin-top: 0.8rem;
  font-size: 1.1rem;
  letter-spacing: 3px;
}

.investimento__texto--centralizado {
  font-family: "Fira Sans", sans-serif;
  margin: 2rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.investimento__texto--centralizado:nth-of-type(2) {
  margin-top: 4rem;
}

.investimento__texto--centralizado .quotes {
  color: #1D737E;
  font-weight: bold;
  font-size: 6.25rem;
  margin: 0 2.5rem;
}

.investimento__formacoes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 8rem;
}

.investimento__formacoes__formacao img {
  margin: 0 auto;
}

.investimento__formacoes__formacao h3 {
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  font-family: "Fira Sans", sans-serif;
  line-height: 1.5rem;
  padding: 5px;
  min-height: 40%;
}

.investimento__formacoes__formacao h3 span {
  display: block;
}

.investimento__formacoes__formacao__valor {
  display: block;
  margin-top: 1rem;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
}

.investimento__comprar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10rem 0;
  gap: 2rem;
}

.investimento__comprar__valor {
  width: 37rem;
  border-radius: 15px;
  padding: 20px;
  border: 2px solid #D40033;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Fira Sans", sans-serif;
}

.investimento__comprar__valor .comprar__descricao {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.investimento__comprar__valor .comprar__preco {
  font-weight: bold;
  font-family: "Oswald", sans-serif;
  font-size: 2.55rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0 1rem;
}

.investimento__comprar__valor--escuro {
  background-color: #D40033;
  font-weight: bold;
  color: #fff;
}

.investimento__comprar__valor--claro p:first-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.investimento__comprar__valor--claro .comprar__descricao {
  color: #555;
}

.investimento__comprar__valor--claro .comprar__preco {
  color: #D40033;
}

.investimento__opcoes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.investimento__opcoes__opcao {
  font-family: "Fira Sans", sans-serif;
  width: 40%;
  font-size: 1.2rem;
}

.investimento__opcoes__opcao h3 {
  margin-bottom: 2rem;
  font-size: 1.6rem;
  text-transform: uppercase;
}

.investimento__opcoes__opcao:last-child {
  margin-top: 3.5rem;
}

.investimento__opcoes__opcao__texto {
  color: #555;
  margin: 1rem 0;
}

.investimento__opcoes__opcao__texto strong {
  color: #000;
}

.investimento__opcoes__opcao__texto--destaque {
  font-size: 1.7rem;
  font-weight: bold;
  line-height: 2.5rem;
}

.investimento__opcoes__opcao__title {
  display: block;
  margin-bottom: 1rem;
  font-weight: 700;
}

.investimento__opcoes__opcao__beneficios {
  list-style-type: none;
}

.investimento__opcoes__opcao__beneficios__item {
  margin: 1rem 0;
  color: #555;
}

.investimento__opcoes__opcao__beneficios__item::before {
  content: '';
  padding: 0 12px;
  position: relative;
  background-image: url(../img/checked.png);
  right: 10px;
}

.investimento .btn {
  display: block;
  margin: 6rem auto;
}

@media screen and (min-width: 350px) and (max-width: 700px) {
  .investimento > * {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2rem;
  }
  .investimento__comprar__valor {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 15rem;
    margin: 0 auto;
  }
  .investimento__texto--centralizado {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .investimento__texto--centralizado .quotes {
    margin: 0;
  }
  .investimento__opcoes__opcao {
    width: 80%;
    margin: 0 auto;
  }
}

.reconhecimento {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reconhecimento__title, .reconhecimento__descricao {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.reconhecimento__title {
  font-size: 1.6rem;
  margin-top: 2rem;
}

.reconhecimento__title--depo {
  color: #fff;
}

.reconhecimento__descricao {
  width: 45%;
  font-size: 1.15rem;
}

.reconhecimento__descricao--depo {
  color: #C2FF01;
}

.reconhecimento__depoimentos {
  width: 50vw;
  background-color: #171717;
  position: relative;
  z-index: 2;
}

.reconhecimento__depoimentos > *:not(.controls) {
  margin-left: 15rem;
}

.reconhecimento__depoimentos__videos {
  padding: 10px;
}

.reconhecimento__depoimentos__videos img {
  margin-bottom: 1rem;
}

.reconhecimento__depoimentos__videos img:last-of-type {
  margin-bottom: 3rem;
}

.reconhecimento__depoimentos .controls {
  font-size: 2rem;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 50%;
  right: -8px;
  gap: 0;
}

.reconhecimento__depoimentos .controls button {
  font-size: 2rem;
  padding: 5px;
  border: 0;
}

.reconhecimento__depoimentos .controls__mais {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1D737E), color-stop(#2799a7), to(#2bacbc));
  background-image: linear-gradient(#1D737E, #2799a7, #2bacbc);
  color: #C2FF01;
}

.reconhecimento__depoimentos .controls__mais:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1D737E), color-stop(#31bed0), to(#46c4d4));
  background-image: linear-gradient(#1D737E, #31bed0, #46c4d4);
}

.reconhecimento__depoimentos .controls__mais:active {
  background-image: -webkit-gradient(linear, left top, right top, from(#1D737E), color-stop(#31bed0), to(#46c4d4));
  background-image: linear-gradient(to right, #1D737E, #31bed0, #46c4d4);
}

.reconhecimento__depoimentos .controls__menos {
  background-color: #C2FF01;
  color: #1D737E;
}

.reconhecimento__depoimentos .controls__menos:hover {
  background-color: #daff67;
}

.reconhecimento__depoimentos .controls__menos:active {
  background-color: #9ccd00;
}

.reconhecimento__noticias {
  width: 50vw;
  background: -webkit-gradient(linear, left bottom, right top, color-stop(65%, white), color-stop(135%, #d7f2f6));
  background: linear-gradient(to right top, white 65%, #d7f2f6 135%);
}

.reconhecimento__noticias > * {
  margin-left: 2rem;
}

.reconhecimento__noticias .portais {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reconhecimento__noticias .portais__logos div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 177px;
  width: 155px;
  margin: 1rem 0;
  margin-right: 3rem;
  border-radius: 10px;
  -webkit-box-shadow: 20px -10px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 20px -10px 6px rgba(0, 0, 0, 0.1);
}

.reconhecimento__noticias .portais__logos:nth-child(2) {
  margin-top: 3rem;
}

@media screen and (min-width: 350px) and (max-width: 700px) {
  .reconhecimento {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .reconhecimento .controls {
    display: none;
  }
  .reconhecimento__depoimentos {
    width: 100vw;
  }
  .reconhecimento__depoimentos > *:not(.controls) {
    margin-left: 1rem;
  }
  .reconhecimento__noticias {
    width: 100vw;
  }
  .reconhecimento__noticias .portais {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
  }
  .reconhecimento__noticias .portais__logos {
    margin: 1rem auto;
  }
  .reconhecimento h2 {
    width: 90%;
    text-align: center;
  }
  .reconhecimento__descricao {
    width: 90%;
  }
}

.superacao__intercede {
  background-color: #000;
}

.superacao__intercede img {
  width: 177px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
  bottom: 5rem;
}

.avaliacao {
  background-color: #000;
  color: #fff;
  min-height: 80vh;
  position: relative;
  z-index: 1;
}

.avaliacao * > :not(.arredondado) {
  z-index: 2;
}

.avaliacao__arredondados {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  bottom: 10rem;
}

.avaliacao__arredondados .arredondado {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 250px;
  height: 250px;
  position: absolute;
  z-index: -1;
}

.avaliacao__arredondados .arredondado:first-child {
  left: -6rem;
  border: 1px solid rgba(29, 115, 126, 0.2);
}

.avaliacao__arredondados .arredondado:nth-child(2) {
  left: -9rem;
  border: 1px solid rgba(29, 115, 126, 0.4);
}

.avaliacao h2 {
  font-family: "Oswald", sans-serif;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  text-align: center;
  margin-bottom: 3rem;
}

.avaliacao__descricao {
  margin: 0 auto;
  font-family: "Fira Sans", sans-serif;
  width: 45%;
  text-align: center;
}

.avaliacao__pergunta {
  margin: 2rem 0;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 1.15rem;
  color: #C2FF01;
  text-transform: uppercase;
  font-weight: bold;
}

.avaliacao__opcao {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 80%;
  margin: 0 auto;
  gap: 4rem;
  font-family: "Fira Sans", sans-serif;
}

.avaliacao__opcao i {
  display: block;
  text-align: center;
  font-size: 3rem;
}

.avaliacao__opcao .fa-thumbs-up {
  color: #C2FF01;
}

.avaliacao__opcao .fa-thumbs-down {
  color: #D40033;
}

.avaliacao__opcao > div > div {
  margin-top: 3rem;
  padding: 44px;
  border-radius: 20px;
  text-align: center;
  font-size: 1.2rem;
}

.avaliacao__opcao__positivo__descricao {
  background-color: #C2FF01;
  color: #000;
}

.avaliacao__opcao__negativo__descricao {
  background-color: #D40033;
}

@media screen and (min-width: 350px) and (max-width: 700px) {
  .avaliacao {
    padding-bottom: 1rem;
  }
  .avaliacao h2 {
    margin: 2rem 0;
  }
  .avaliacao__descricao {
    width: 80%;
  }
  .avaliacao__opcao {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1rem;
  }
}

.conclusao {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#000), to(#141414));
  background-image: linear-gradient(to top, #000, #141414);
  color: #fff;
  position: relative;
  z-index: 1;
}

.conclusao__arredondados {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.conclusao__arredondados .arredondado {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  width: 250px;
  height: 250px;
  z-index: -3;
  right: -12rem;
  top: 15rem;
}

.conclusao__arredondados .arredondado:first-child {
  border: 2px solid rgba(29, 115, 126, 0.4);
}

.conclusao__arredondados .arredondado:nth-child(2) {
  right: -8rem;
  border: 2px solid rgba(29, 115, 126, 0.2);
}

.conclusao h2 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  margin: 3rem auto;
  width: 45%;
}

.conclusao img {
  margin: 0 auto;
}

.conclusao footer {
  margin-top: 8rem;
  padding-bottom: 3rem;
  font-family: "Fira Sans", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.conclusao__logo img {
  width: 128px;
}

.conclusao__copyright {
  font-size: 0.9rem;
}

.conclusao__copyright--endereco {
  margin-top: 1rem;
  display: block;
  color: #555;
}

.conclusao__autoria img {
  display: inline;
}

@media screen and (min-width: 350px) and (max-width: 700px) {
  .conclusao h2 {
    width: 80%;
    margin-top: 0;
    padding-top: 2rem;
  }
  .conclusao img[src="img/guanabara.jpg"] {
    width: 350px;
  }
  .conclusao footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1rem;
    width: 90%;
    margin: 0 auto;
    margin-top: 2rem;
  }
  .conclusao footer img {
    width: 80px;
  }
  .conclusao__arredondados {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */