.sobre{
    min-height: 100vh;
    display: flex;
    position: relative;
    justify-content: space-around;
    .arredondado--sobre{
        background-color: $sec-color;
        transform: rotate(45deg);
        position: relative;
        &__grande{
            width: 315px;
            height: 315px;
            z-index: -1;
            bottom: 33rem;
            left: 4rem;
        }
        &__pequeno{
            border-radius: 30px;
            width: 130px;
            height: 130px;
            bottom: 68rem;
        }
    }
    &__img-arredondada{
        background-image: url(../../img/image_38.jpg);
        width: 459px;
        height: 542px;
        border-radius: 20px;
        position: relative;
        z-index: 1;
        left: 12rem;
    }
    &__quem-sou{
        width: 50%;
        h2{
            font-family: $ff-secondary;
            font-size: 1.8rem;
            text-transform: uppercase;
            font-weight: 400;
            letter-spacing: 2px;
        }
        &--subtitulo{
            display: inline-block;
            width: 60%;
            font-family: $ff-secondary;
            font-size: 1.2rem;
            text-transform: uppercase;
            letter-spacing: 2px;
            margin: 3rem 0;
        }
        p{
            font-family: $ff-primary;
            line-height: 2rem;
            letter-spacing: 1.3px;
            width: 75%;
            strong{
                display: block;
            }
        }
    }
    &__social-media{
        display: flex;
        justify-content: space-around;
        position: relative;
        left: 12rem;
        top: 2rem;
        max-width: 70%;
        margin: 0 auto;
        a{
            text-decoration: none;
            color: #fff;
            padding: 10px 20px;
            background-image: $gradiente01;
            border-radius: 50%;
            &:hover{
                background-image: $gradiente02; 
            }
            i{
                font-size: 1.5rem;
            }
        }
    }
}
@media screen and (min-width: 350px) and (max-width:700px){
    .sobre{
        flex-direction: column;
        .arredondado--sobre{
            display: none;
        }
        &__foto-smedia{
            
            >div{
                position: relative;
                right: 10rem;
                display: block;
                z-index: none;
            }
        }
        &__img-arredondada{
            width: 320px;
            height: 378px;
            background-size: cover;
        }
        &__social-media{
            display: none;
        }
        &__quem-sou{
            width: 100%;
            h2{
                text-align: center;
            }
            &--subtitulo{
                width: 90%;
                display: block;
                margin: 1rem auto;
            }
            p{
                width: 90%;
                margin: 1rem auto;
            }
        }
    }
}